# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_MULTIPLE_DATABASES=auth_db,quiz_db
POSTGRES_PORT=5433

# Auth Service
AUTH_SERVICE_DATABASE_URL=postgres://postgres:your_postgres_password@postgres:5432/auth_db?sslmode=disable
AUTH_SERVICE_PORT=3000

# Quiz Service
QUIZ_SERVICE_DATABASE_URL=postgres://postgres:your_postgres_password@postgres:5432/quiz_db?sslmode=disable
QUIZ_SERVICE_PORT=8080

# JWT
JWT_SECRET=your_jwt_secret_key

# HAProxy
HAPROXY_PORT_HTTP=8000
HAPROXY_PORT_STATS=8404

# Monitoring & Load Testing
CADVISOR_PORT=8088
PROMETHEUS_PORT=9090
GRAFANA_PORT=3001
LOCUST_PORT=8089

# Grafana Config
GRAFANA_SECURITY_ADMIN_PASSWORD=your_grafana_admin_password
GRAFANA_USERS_ALLOW_SIGN_UP=false
